In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({"Day":[1,2,3,4,5,6,7,8,9,10,11,12,13,14],"Outlook":['sunny','sunny','overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy'],"Temperature":['hot','hot','hot','mild','cold','cold','cold','mild','cold','mild','mild','mild','hot','mild'],"Humidity":['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high'],"Wind":['weak','strong','weak','weak','weak','strong','strong','weak','weak','weak','strong','strong','weak','strong'],"Play":['N','N','Y','Y','Y','N','Y','N','Y','Y','Y','Y','Y','N']})
df.set_index("Day",inplace=True)

In [3]:
df

      Outlook Temperature Humidity    Wind Play
Day
1       sunny         hot     high    weak    N
2       sunny         hot     high  strong    N
3    overcast         hot     high    weak    Y
4       rainy        mild     high    weak    Y
5       rainy        cold   normal    weak    Y
6       rainy        cold   normal  strong    N
7    overcast        cold   normal  strong    Y
8       sunny        mild     high    weak    N
9       sunny        cold   normal    weak    Y
10      rainy        mild   normal    weak    Y
11      sunny        mild   normal  strong    Y
12   overcast        mild     high  strong    Y
13   overcast         hot   normal    weak    Y
14      rainy        mild     high  strong    N

In [4]:
total_length=len(df['Outlook'])
total_sunny=np.where(df['Outlook']=='sunny')[0].shape[0]
total_rainy=np.where(df['Outlook']=='rainy')[0].shape[0]
total_overcast=np.where(df['Outlook']=='overcast')[0].shape[0]

total_hot=np.where(df['Temperature']=='hot')[0].shape[0]
total_mild=np.where(df['Temperature']=='mild')[0].shape[0]
total_cool=np.where(df['Temperature']=='cool')[0].shape[0]

total_high=np.where(df['Humidity']=='high')[0].shape[0]
total_normal=np.where(df['Humidity']=='normal')[0].shape[0]

total_weak=np.where(df['Wind']=='weak')[0].shape[0]
total_strong=np.where(df['Wind']=='strong')[0].shape[0]

total_No=np.where(df['Play']=='N')[0].shape[0]
total_Yes=np.where(df['Play']=='Y')[0].shape[0]

In [12]:
PC=total_Yes/total_length
PC_bar=total_No/total_length
c=0
for i in len((df['Outlook']=='sunny').values):
    if (df['Play']=='Y').values[i]==True and (df['Play']=='Y').values[i]==True:
        c+=1
print(c)

TypeError: 'int' object is not iterable

In [6]:
len((df['Outlook']=='sunny').values)

14

In [7]:
(df['Play']=='Y').values

array([False, False,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True, False])

In [8]:
#df['Outlook']

In [9]:
(df['Outlook']=='sunny').eq(df['Play']=='Y')

Day
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11     True
12    False
13    False
14     True
dtype: bool